@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
    background: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.logotype {
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", serif;
    margin-left: 40px;
    font-weight: 700;
}

.logotype span {
    color: #f06c64;
}

nav {
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato", serif;
    margin: 9px 40px 0 0;
    font-weight: 700;
    text-align: left;
}

nav a {
    margin-left: 27px;
    pointer: cursor;
    text-decoration: none;
    color: inherit;
}

/*nav a:hover{*/
/*    color: #f06c64;*/
/*}*/

nav a:active {
    color: #f06c64;
}

.slider-section {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-section .slider-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.slider-content {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.arrow {
    margin: 0 41px;
    padding-bottom: 6px;
    transition: 0.6s ease;
}

.arrow:hover {
    cursor: pointer;
}

.our-service-container {
    background-color: #f2f2f2;
    color: #767e9e;
    font-family: "Lato", serif;
    border-bottom: 6px solid #ffffff;
    margin-bottom: -25px;
}

.our-service-container .service-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.service-content {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.services {
    max-width: 1020px;
    margin-top: 9px;
}

.our-service-title {
    max-width: 1020px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 68px 768px 0 0;
    letter-spacing: 1px;
}

.our-service-subtitle {
    max-width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    margin: 26px 0 0 0;
    letter-spacing: -0.1px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 20px 40px 64px 40px;
    max-width: 1020px;
    padding: 0;
}

.service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
}

.service-info {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    margin-bottom: 0;
    max-width: 239px;
}

.phone-vertical, .phone-horizontal {
    margin-bottom: 8px;
}

.phone-vertical {
    margin-right: 59px;
}

.black-vertical {
    display: none;
    position: absolute;
    top: 211px;
    left: 132px;
}

.black-horizontal {
    transform: rotate(90deg);
    display: none;
    position: absolute;
    left: 550px;
    top: 209px;
}

.service-title {
    margin: 0;
    font-size: 18px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato", sans-serif;
}

.service-subtitle {
    margin: 14px 0 0 0;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    height: 60px;
    max-width: 232px;
    overflow: hidden;
}

.portfolio {
    background: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio-content {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.about-us-title {
    font-size: 31px;
    line-height: 0.9;
    color: #666d89;
    padding: 64px 0 0 40px;
    font-family: Lato, sans-serif;
    margin: 0;
}

.portfolio-subtitle {
    font-size: 18px;
    color: #767e9e;
    line-height: 30px;
    margin: 22px 0 0 40px;
    font-family: Lato, sans-serif;
    letter-spacing: -0.23px;
    max-width: 950px;
}

.tags {
    border-radius: 5px;
    border: solid 1px #666d89;
    background: none;
    font-size: 12px;
    margin-right: 6px;
    padding: 2px 6px;
    color: #dedede;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    text-align: justify;
}

.sort-buttons {
    margin: 11px 0 0 41px;
}

.portfolio-title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    padding-top: 69px;
    letter-spacing: 1px;
}

.portfolio-images {
    margin: 10px;
    /*border: solid 5px #F06C64;*/
}

.image-container {
    margin: 9px 30px 59px 30px;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}


.cards {
    display: flex;
    max-width: 950px;
    padding-top: 45px;
    margin: 0 40px 65px 40px;
}

.card {
    float: left;
    overflow: hidden;
}

.name {
    font-family: Lato, sans-serif;
    font-size: 19.5px;
    color: #666d89;
    margin: 9px 0 0 0;
    letter-spacing: -0.7px;
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
}

.info {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #767e9e;
    margin-top: 8px;
    max-width: 301px;
    letter-spacing: -0.05px;
    line-height: 1.75;
    white-space: nowrap;
}

.card-social-icons {
    padding: 0;
    margin: 24px 0 0 0;
}

.card-social-icons li {
    display: inline;
    margin-right: 1px;
    height: 35px;
    max-width: 35px;
}

.card-social-icons li img:hover {
    display: inline;
    cursor: pointer;
    background: radial-gradient(circle closest-side, #9ba3bd, #0081b500);
}

.about-us {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
}

.card-margin {
    margin: 0 20px 0 17px;
}

span :nth-child(1) {
    display: none;
}

.get-a-quote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote-content {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.get-a-quote-title {
    margin: 0 0 0 41px;
    padding-top: 68px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 27px 0 0 40px;
    letter-spacing: -0.1px;
}

form {
    margin: 45px 0 0 40px;
    width: 640px;
}

form input, form textarea {
    width: 595px;
    border-radius: 5px;
    background-color: #d6564f;
    border-style: none;
    padding: 11px;
    margin-bottom: 16px;
    resize: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-left: 2px;

}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-left: 2px;
}

input[type="submit" i] {
    width: 620px;
    font-size: 12px;
    line-height: 18px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: #d6413e;
}

.content {
    display: flex;
}

.contact-information-container {
    margin: 25px 0 0 0;
}

.contact-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
}

.contact-subtitle {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 0;
    max-width: 325px;
}

.contacts-list li {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 7px;
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.contact-link {
    color: #f0d8d9;
    text-decoration: none;
}

.contact-icons {
    margin-right: 10px;
}

.contacts-list {
    padding: 0;
    margin: 24px 0 0 0;
}

.icon-container {
    max-width: 23px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 38px 0 0;
}

footer p {
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 0 0 0 40px;
}


.social-icon {
    margin-left: 5px;
}

.social-icon:hover {
    cursor: pointer;
    text-decoration: underline;
    background: radial-gradient(circle closest-side, #53596d, #0081b500);
}

.modal {
    display: none;
    position: fixed;
    width: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 510px;
    text-align: center;
    background-color: #6f5560;
    border: 4px solid white;
    border-radius: 15px;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    color: #ffffff;
    padding: 18px;
    line-height: 19px;
}

.modal button {
    width: 60px;
    background: none;
    border: solid 1px #ffffff;
    border-radius: 5px;
    color: white;
    padding: 4px;
}

.modal h3 {
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
    .phone-vertical {
        height: 363px;
        width: 180px;
        margin-right: 54px;
        margin-left: 46px;
    }

    .phone-horizontal {
        height: 180px;
        width: 363px;
        margin-right: 41px;
    }

    .our-service-title {
        width: 687px;
        height: 36px;
        margin: 40px 40px 0 40px;
    }

    .our-service-subtitle {
        margin: 18px 40px 28px 40px;
    }

    .employee-photo {
        width: 218px;
        height: 218px;
    }

    .card-margin {
        margin: 0 14px;
    }

    form input, form textarea {
        width: 442px;
        margin-bottom: 12px;
    }

    form {
        width: 480px;
    }

    input[type="submit" i] {
        width: 464px;
        margin-top: -50px;
    }

    .contact-information-container {
        margin: 25px 0 0 20px;
    }

    .portfolio-images{
        width: 216px;
        height: 183px;
    }

    .image-container{
        width: 710px;
    }
}

/*@media screen and (min-width: 375px) and (max-width: 767px)*/


