@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
}

section {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.title {
    margin: 0 0 0 41px;
    padding-top: 68px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
}

.subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    margin: 27px 0 0 40px;
    letter-spacing: -0.1px;
}

form {
    margin: 45px 0 0 40px;
    width: 640px;
}

form input, form textarea {
    width: 595px;
    border-radius: 5px;
    background-color: #d6564f;
    border-style: none;
    padding: 11px;
    margin-bottom: 16px;
    resize: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    margin-left: 2px;

}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    margin-left: 2px;
}

input[type="submit" i] {
    width: 620px;
    font-size: 12px;
    line-height: 18px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6413e;
}

.content {
    display: flex;
}

.contact-information-container{
    margin: 25px 0 0 0;
}

.contact-title{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
}

.contact-subtitle{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin: 0px;
    width: 325px;
}

li {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 7px;
    font-size: 12px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
}

li a{
    color: #f0d8d9;
    text-decoration: none;
}

li .contact-icons{
    margin-right: 10px;
}

.contacts-list{
    padding: 0;
    margin: 24px 0 0 0;
}

li div{
    width: 23px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px 0 0;
}

footer p{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin: 0px 0 0 40px;
}


.social-icon{
    margin-left: 6px;
}
